/* Global style */
* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

body {
  font-family: "Lato", sans-serif;
}

/* End global style */
/* header style */
.header {
  height: 782px;
  background-image: url(img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__button {
  margin-top: 39px;
  height: 50px;
  width: 160px;
  border-radius: 6px;
  background: #FFF;
  border: 0;
}
.header__button-txt {
  color: #ED4C5C;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.header__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 179px;
}
.header__center-block {
  display: flex;
  width: 540px;
  justify-content: center;
}
.header__box {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 782px;
}
.header__icon {
  margin-top: 35px;
  margin-left: 165px;
  width: 64px;
  height: 64px;
  transition: all 0.5;
}
.header__icon:hover {
  scale: 1.05;
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header__nav-linkgroup {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-top: 61px;
  margin-left: 172px;
}
.header__nav-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.header__nav-linkbold {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.header__title {
  line-height: normal;
  text-transform: uppercase;
}
.header__title-high {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 3.6px;
  align-items: center;
}
.header__title-midle {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  margin-top: 39px;
}

.section__link {
  text-decoration: none;
  text-align: justify;
  font-style: normal;
}
.section__link-red {
  font-weight: 400;
  color: #ED4C5C;
  font-size: 14px;
  line-height: 140%;
  text-decoration: none;
}
.section__link-red:hover {
  text-decoration: underline;
}
.section__up, .section__down {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 95px;
  margin-bottom: 94px;
  -moz-column-gap: 125px;
       column-gap: 125px;
}
.section__up-pictureborder, .section__down-pictureborder {
  margin-left: 125px;
}
.section__up-alignment, .section__down-alignment {
  padding-left: 165px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section__up-pictureborder, .section__down-pictureborder {
  border-radius: 15px;
}
.section__up-text, .section__down-text {
  display: flex;
  width: 445px;
  flex-direction: column;
  justify-content: center;
}
.section__up-texthead, .section__down-texthead {
  color: #101010;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}
.section__up-textinfo, .section__down-textinfo {
  color: #101010;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
  text-align: justify;
}
.section__up-textlink, .section__down-textlink {
  color: #ED4C5C;
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 19.6px */
}
.section__middle {
  background-color: #FAFAFA;
  padding-bottom: 31px;
}
.section__middle-head {
  color: #101010;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 63px;
  margin-bottom: 63px;
}
.section__middle-link {
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  color: #ED4C5C;
  font-size: 12px;
  line-height: 140%;
  text-decoration: none;
  margin-bottom: 25px;
}
.section__middle-link:hover {
  text-decoration: underline;
}
.section__middle-frame {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fff;
  box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
}
.section__middle-textup {
  color: #101010;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 33px;
}
.section__middle-textdown {
  color: #101010;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 20px;
  margin-bottom: 5px;
}
.section__middle-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.section__down {
  background-color: #ED4C5C;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
}
.section__down-texthead {
  color: #fff;
}
.section__down-textinfo {
  color: #fff;
  text-align: justify;
}
.section__animation {
  transition: all 1s;
}
.section__animation:hover {
  scale: 1.05;
}

.footer__text {
  display: flex;
  width: 445px;
  flex-direction: column;
  justify-content: center;
}
.footer__texthead {
  color: #101010;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px;
}
.footer__textinfo {
  color: #101010;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 14px;
  text-align: justify;
}
.footer__alignment {
  padding-left: 165px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 95px;
  -moz-column-gap: 125px;
       column-gap: 125px;
  margin-bottom: 155px;
}
.footer__button {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  background-color: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  text-transform: uppercase;
  border-radius: 6px;
  width: 160px;
  height: 50px;
  margin-top: 27px;
}
.footer__button-center {
  display: flex;
  justify-content: center;
}
.footer__inputs {
  margin-left: 125px;
}
.footer__inputs-up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.footer__inputs-down {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 24px;
  margin-top: 24px;
}
.footer__inputs-frame {
  border-radius: 6px;
  border: 1px solid var(--Gray-1, #333);
  height: 60px;
  color: rgba(19, 39, 67, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 31px;
}
.footer__inputs-frame::-moz-placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.footer__inputs-frame::placeholder {
  color: rgba(19, 39, 67, 0.5);
}
.footer__inputs-frame:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.footer__inputs-mini {
  width: 255px;
}
.footer__copyright {
  height: 110px;
  background-color: #FAFAFA;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__copyright-text {
  color: #101010;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 163px;
  margin-top: 48px;
  margin-bottom: 48px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .section__up-text {
    margin-bottom: 30px;
  }
  .section__up-pictureborder {
    margin-left: 0;
  }
  .section__down-text {
    margin-bottom: 30px;
  }
  .section__down-pictureborder {
    margin-left: 0;
  }
  .section__middle-center {
    row-gap: 30px;
  }
  .footer__inputs {
    margin-left: 0;
  }
  .footer__inputs-up {
    row-gap: 30px;
    width: 255px;
  }
  .footer__inputs-down {
    width: 445px;
  }
  .footer__alignment {
    padding-left: 176px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 450px;
  }
  .header__nav-linkgroup {
    display: flex;
    -moz-column-gap: 5px;
    column-gap: 5px;
    margin-top: 30px;
    margin-right: 35px;
    margin-left: auto;
  }
  .header__icon {
    margin-top: 35px;
    /*  margin-left: 82px; */
    width: 32px;
    height: 32px;
    margin-left: 35px;
  }
  .header__box {
    height: 450px;
  }
  .header__title-midle {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  .header__title-high {
    font-size: 36px;
  }
  .header__center {
    margin-top: 50px;
  }
  .header__center-block {
    width: auto;
  }
  .section__up {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 95px;
    margin-bottom: 94px;
    -moz-column-gap: 125px;
    column-gap: 0;
  }
  .section__up-alignment {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
  }
  .section__up-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .section__up-texthead {
    font-size: 36px;
    width: 100%;
  }
  .section__up-textinfo {
    font-size: 12px;
    width: 100%;
  }
  .section__up-pictureborder {
    width: 100%;
  }
  .section__down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 95px;
    margin-bottom: 94px;
    -moz-column-gap: 125px;
    column-gap: 0;
  }
  .section__down-alignment {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .section__down-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .section__down-texthead {
    font-size: 36px;
    width: 100%;
  }
  .section__down-textinfo {
    font-size: 12px;
    width: 100%;
  }
  .section__down-pictureborder {
    width: 100%;
  }
  .section__middle-frame {
    width: 100%;
  }
  .footer__alignment {
    padding-left: 0;
  }
  .footer__inputs-down {
    width: 410px;
  }
  .footer__text {
    width: 100%;
  }
  .footer__texthead {
    width: 100%;
  }
  .footer__inputs-down {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */