$font-family: 'Lato', sans-serif;
$font-color-white: #fff;
$font-color-black: #101010;
$font-color-red: #ED4C5C;
$font-color-grey:rgba(19, 39, 67, 0.50);
$font-size-T3: 12px;
$font-size-T2: 14px;
$font-size-T1: 18px;
$font-size-H3: 36px;
$font-size-H2: 24px;
$font-size-H1: 72px;
$font-weight-w3: 400;
$font-weight-w2: 600; 
$font-weight-w1: 700;

$background-color-buttonfooter: #ED4C5C;
$background-color-buttonheader:#FFF;
$background-color-inputfooter: #FFF;
$background-color-section-middle: #FAFAFA;
$border-inputfooter: 1px solid var(--Gray-1, #333);
$border-buttonfooter: 1.5px solid #ED4C5C;
$border-radius: 6px;